.expense-form-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.expense-form-inner {
  display: flex;
  justify-content: center;
}

.expense-form-inner form {
  width: 100%;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.react-datepicker-wrapper {
  display: block !important;
  width: 100%;
}

.submit-button {
  width: 100%;
  background: #213b45;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button:hover {
  background: #336374;
}
